@{
    if (ViewBag.Cookies == null)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Alogin";
        string username = (string)ViewData["username"];
        ViewData["Username"] = char.ToUpper(username[0]) + username.Substring(1);

    }
   
    ViewData["Title"] = "Gallary";
    List<Product> products = (List<Product>)ViewData["AllProduct"];
    string searchStr = (string)ViewData["search"];

}

@section Scripts {
    <script src="~/js/home.js"></script>
}


<div class="form-floating">
    <input name="str" type="search" class="form-control" placeholder="Leave a comment here" id="search_input" onchange="search()" value="@searchStr"></input>
    <label for="floatingInput">Search</label>
</div>


<!-- Section-->

    <section class="py-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                @{
                    @foreach (var item in products)
                    {
                        <div class="col mb-5">
                            <div class="card h-100 cardc">

                                <div class="text-center w-50 h-50 mx-auto">
                                    <img src="/img/@item.ProductImg" class="img-fluid rounded mx-auto d-block" />
                                </div>
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder h4">@item.ProductName</h5>
                                        
                                        <p class="passage">@item.ProductDesc</p>
                                            <div class="rating d-flex justify-content-center">
                                         Rating:&nbsp;
                                        <div class="rating-star allstar_@item.ProductRating"></div>
                                    </div>
                                    </div>
                                </div>   
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center" id="@item.ProductId">
                                        <button class="btn btn-outline-dark mt-auto passage" onclick="addToCart(event)">$@item.ProductPrice - Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

</section>


